In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, Normalizer, StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
df = pd.read_csv ("/Users/danort/Desktop/Ironhack labs/lab-customer-analysis-round-6/files_for_lab/csv_files/marketing_customer_analysis.csv")
df.head()
df.columns = df.columns.str.upper().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '')
df

,CUSTOMER,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENTSTATUS,GENDER,INCOME,...,MONTHS_SINCE_POLICY_INCEPTION,NUMBER_OF_OPEN_COMPLAINTS,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,TOTAL_CLAIM_AMOUNT,VEHICLE_CLASS,VEHICLE_SIZE
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [43]:
#numerical columns columns are numerical

numerical_columns = df.select_dtypes("number")
numerical_columns

,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,MONTHS_SINCE_LAST_CLAIM,MONTHS_SINCE_POLICY_INCEPTION,NUMBER_OF_OPEN_COMPLAINTS,NUMBER_OF_POLICIES,TOTAL_CLAIM_AMOUNT
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [44]:
#which ones are categorical 
categorical_columns = df.select_dtypes("object")
categorical_columns

,CUSTOMER,STATE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENTSTATUS,GENDER,LOCATION_CODE,MARITAL_STATUS,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,VEHICLE_CLASS,VEHICLE_SIZE
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [45]:
#Checking and deal with NaN values.
# This can give us an idea of the types and the amount of Nans per column:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CUSTOMER                       9134 non-null   object
 1   STATE                          9134 non-null   object
 2   CUSTOMER_LIFETIME_VALUE        9134 non-null   float64
 3   RESPONSE                       9134 non-null   object
 4   COVERAGE                       9134 non-null   object
 5   EDUCATION                      9134 non-null   object
 6   EFFECTIVE_TO_DATE              9134 non-null   object
 7   EMPLOYMENTSTATUS               9134 non-null   object
 8   GENDER                         9134 non-null   object
 9   INCOME                         9134 non-null   int64
 10  LOCATION_CODE                  9134 non-null   object
 11  MARITAL_STATUS                 9134 non-null   object
 12  MONTHLY_PREMIUM_AUTO           9134 non-null   int64
 13  MONTHS_SINCE_LAST_CLAIM        9134 non-null   int64
 14  MONTHS_SINCE_POLICY_INCEPTION  9134 non-null   int64
 15  NUMBER_OF_OPEN_COMPLAINTS      9134 non-null   int64
 16  NUMBER_OF_POLICIES             9134 non-null   int64
 17  POLICY_TYPE                    9134 non-null   object
 18  POLICY                         9134 non-null   object
 19  RENEW_OFFER_TYPE               9134 non-null   object
 20  SALES_CHANNEL                  9134 non-null   object
 21  TOTAL_CLAIM_AMOUNT             9134 non-null   float64
 22  VEHICLE_CLASS                  9134 non-null   object
 23  VEHICLE_SIZE                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [46]:
# This way we can check if we still have Nans per columns:
df.isna().sum()

CUSTOMER                         0
STATE                            0
CUSTOMER_LIFETIME_VALUE          0
RESPONSE                         0
COVERAGE                         0
EDUCATION                        0
EFFECTIVE_TO_DATE                0
EMPLOYMENTSTATUS                 0
GENDER                           0
INCOME                           0
LOCATION_CODE                    0
MARITAL_STATUS                   0
MONTHLY_PREMIUM_AUTO             0
MONTHS_SINCE_LAST_CLAIM          0
MONTHS_SINCE_POLICY_INCEPTION    0
NUMBER_OF_OPEN_COMPLAINTS        0
NUMBER_OF_POLICIES               0
POLICY_TYPE                      0
POLICY                           0
RENEW_OFFER_TYPE                 0
SALES_CHANNEL                    0
TOTAL_CLAIM_AMOUNT               0
VEHICLE_CLASS                    0
VEHICLE_SIZE                     0
dtype: int64

In [48]:
#Describing the date frame
df.describe()

,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,MONTHS_SINCE_LAST_CLAIM,MONTHS_SINCE_POLICY_INCEPTION,NUMBER_OF_OPEN_COMPLAINTS,NUMBER_OF_POLICIES,TOTAL_CLAIM_AMOUNT
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [52]:
#Laboratory 6. exercices.
df2 = df.copy()

#X-y split.
#separate the features from the TOTAL_CLAIM_AMOUNT, also called the X-y split
X = df2.drop(["CUSTOMER", "TOTAL_CLAIM_AMOUNT"], axis=1) 
y = df["TOTAL_CLAIM_AMOUNT"]
# Train-Test split: To be able to test our ML model we will create a training set and a validation set:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [53]:
X_train

,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENTSTATUS,GENDER,INCOME,LOCATION_CODE,...,MONTHS_SINCE_LAST_CLAIM,MONTHS_SINCE_POLICY_INCEPTION,NUMBER_OF_OPEN_COMPLAINTS,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,VEHICLE_CLASS,VEHICLE_SIZE
434,Washington,5015.009472,Yes,Extended,Bachelor,2/3/11,Employed,F,48567,Suburban,...,12,15,0,1,Corporate Auto,Corporate L2,Offer2,Agent,SUV,Medsize
4641,Oregon,5149.301306,No,Extended,Bachelor,1/22/11,Employed,F,26877,Suburban,...,5,2,0,1,Personal Auto,Personal L2,Offer4,Agent,SUV,Small
4952,California,4904.894731,Yes,Extended,College,2/14/11,Retired,F,12902,Suburban,...,3,51,0,1,Personal Auto,Personal L3,Offer1,Agent,Sports Car,Medsize
1489,Arizona,8510.525936,No,Extended,College,1/8/11,Unemployed,F,0,Suburban,...,5,94,0,8,Personal Auto,Personal L2,Offer2,Branch,Sports Car,Medsize
812,Arizona,3278.531880,No,Extended,Doctor,2/19/11,Employed,M,70247,Rural,...,13,19,1,1,Personal Auto,Personal L2,Offer4,Call Center,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,California,7334.328083,No,Basic,College,1/29/11,Employed,F,87957,Suburban,...,31,63,0,2,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Small
5191,California,5498.940679,Yes,Basic,College,2/5/11,Medical Leave,M,22520,Suburban,...,17,64,0,3,Personal Auto,Personal L3,Offer1,Branch,Four-Door Car,Medsize
5390,California,8992.779137,No,Extended,High School or Below,1/27/11,Unemployed,F,0,Suburban,...,13,4,0,7,Personal Auto,Personal L1,Offer1,Call Center,SUV,Medsize
860,Arizona,14635.451580,Yes,Extended,Bachelor,2/27/11,Unemployed,F,0,Suburban,...,5,56,0,2,Personal Auto,Personal L3,Offer1,Call Center,SUV,Medsize
7270,Arizona,3349.639274,No,Extended,Bachelor,1/27/11,Employed,M,78092,Urban,...,34,13,0,1,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize

In [54]:
y_train

434      624.000000
4641     628.800000
4952     667.200000
1489     871.200000
812      141.799422
           ...
5734     308.321335
5191     350.400000
5390    1059.572464
860      667.200000
7270     344.015386
Name: TOTAL_CLAIM_AMOUNT, Length: 6393, dtype: float64

In [55]:
# Encoding:
df3 = df.copy()
encoder = OneHotEncoder(drop='first')
X_train = pd.get_dummies(X_train, drop_first=True)
X_train
X_test = pd.get_dummies(X_test, drop_first=True)

In [56]:
# Start the scaler object:
scaler = StandardScaler()

# Fit the scaler object only on the training data:
scaler.fit(X_train)

StandardScaler()

In [57]:
# Transform training and the testing data:
x_train_scaled = scaler.transform(X_train)
x_test_scaled = scaler.transform(X_test)

In [58]:
# Linear Regression:
lm = LinearRegression()
lm.fit(x_train_scaled, y_train)

LinearRegression()

In [61]:
# Predictions for the test:
predictions = lm.predict(x_test_scaled)

# Calculate metrics:
rmse = mean_squared_error(y_test, predictions, squared=False)
mae = mean_absolute_error(y_test, predictions)
r2 = r2_score(y_test, predictions)
print("R2 Score:", round(r2, 2))
print("RMSE:", rmse)
print("MAE:", mae)

R2 Score: 0.76
RMSE: 139.4932590434522
MAE: 95.77179341178935